<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <!-- Basic Page Needs -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="icon" href="../assets/images/favicon.png" type="image/png" sizes="16x16">
   
  <!-- Main structure css file -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>

<header class="pt-3 pb-3">
	<div class="container">
		<div class="row align-items-center position-relative">
			<div class="col-xl-2 col-lg-3 col-md-5 mb-lg-0 mb-4">
				<a href>
					<img src="/assets/img/site-logo.png" width="200px">
				</a>
			</div>
			
			<div class="col-lg-10 col-12 text-right mb-3 mb-lg-0">
				<ul class="navbar-right mb-0 d-flex justify-content-center justify-content-md-end align-items-center">
				 	<!-- message -->
                   
					<li class="dropdown">
                        <div class="dropdown nav-pro-img">
                            <a class="dropdown-toggle nav-link nav-user d-flex align-items-center p-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <div>
                                	
                                </div>
                                <div class="text-left">
                                	<h6 class="m-0 username"><%=data.firstName%> <%=data.lastName%></h6>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                                <div class="row m-0">
                                	<div class="col-6 pl-0">
                                		<div>
                                			<h6 class="theme-color font-weight-bold">Account</h6>
                                		</div>
                                		<a class="dropdown-item" href="/profile/<%=token%>">Profile</a>
		                                <a class="dropdown-item" href="/notification/<%=token%>">My Notifications</a>
										<a class="dropdown-item" href="appointment-bookings/<%=token%>">Appointment Bookings</a>
						
										<a class="dropdown-item" onclick="logoutHandler()">Logout</a>
                                	</div>
                                </div>
                           	</div>
                        </div>
                    </li>
				</ul>
			</div>
		</div>
	</div>	
</header>

<div class="navigation">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-10 col-md-8 col-6">
				<nav class="navbar navbar-expand-md p-0 m-0">
					<div class="mobile-menu d-block d-lg-none" onclick="openNav()">
						<i class="fal fa-bars"></i>
					</div>
					<div class="collapse navbar-collapse d-block" id="collapsibleNavbar">
						<div id="mySidenav" class="sidenav">
							<a href="javascript:void(0)" class="closebtn d-lg-none" onclick="closeNav()"><i class="fal fa-times"></i></a>
							<ul class="navbar-nav">
								<li class="nav-item active">
									<a href="profile" class="nav-link">My Profile</a>
								</li>
								<li class="nav-item">
									<a  href="/notification/<%=token%>" class="nav-link">My Notifications</a>
								</li>
								<li class="nav-item">
									<a href="/appointment-bookings/<%=token%>" class="nav-link">Appointment Bookings</a>
								</li>
							
							</ul>
					  </div>
					</div>	 
				</nav>
			</div>
			<div class="col-lg-2 col-md-4 col-6 text-right">
				<a href="../tests-listing" class="theme-btn">BOOK TEST</a>
			</div>
		</div>
	</div>
</div>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="pt-4 pb-4" id='profile'>
				
						<div class="row">
						
							<div class=" m-auto col-lg-6 col-md-8 col-12 ">
								<div class="d-flex align-items-center">
									<h5 class="mb-0 font-weight-bold"><%=data.firstName%> <%=data.lastName%></h5>
								
								</div>
								<p class="email text-skyblue"><%=data.role%> </p>
								
								<div class="contact-info mt-5">
									<h6 class="text-blue font-weight-bold mb-3">
										Address
									</h6>
									<div class="d-lg-flex d-block mb-3">
										<span class="title text-gray font-weight-bold">
											Date of birth
										</span>
										<span class="desc text-purple font-weight-bold">
											26-July-1993
										</span>
									</div>
									<div class="d-lg-flex d-block mb-3">
										<span class="title text-gray font-weight-bold">
											Gender
										</span>
										<span class="desc text-purple font-weight-bold">
											Male
										</span>
									</div>
									<div class="d-lg-flex d-block mb-3">
										<span class="title text-gray font-weight-bold">
											Address
										</span>
										<span class="desc text-purple font-weight-bold">
											<%=data.address%> 

										</span>
									</div>
									<hr class="lines" />
									<div class="contact-info">
										<h6 class="text-blue font-weight-bold mb-3">
											Contact Details
										</h6>
										<div class="d-lg-flex d-block mb-3">
											<span class="title text-gray font-weight-bold">
												Phone number
											</span>
											<span class="desc text-purple font-weight-bold">
																					<%=data.phone%> 

											</span>
										</div>
										<div class="d-lg-flex d-block mb-3">
											<span class="title text-gray font-weight-bold">
												Email Address
											</span>
											<span class="desc text-purple font-weight-bold">
												<%=data.email%> 
											</span>
										</div>
										
									</div>
								</div>
								<button  class="btn  btn-primary " onclick="showEdit(1)">
									Edit Profile
								</button>
							</div>
						</div>
					
				</div>
				<div class="pt-4 pb-4 d-none" id='editprofile'>
					<button  class="btn  btn-primary " onclick="showEdit(2)">
						<i class="fas fa-arrow-left"></i>
						</button>
					<form action="/updateuser/<%=token%>" method="POST">
					    <div class="form-row">
							<div class="col-md-6 mb-3">
							  <label for="validationCustom01"
								>First name</label
							  >
							  <input
								type="text"
								class="form-control"
								id="validationCustom01"
								name="firstName"
								value="<%= data.firstName %> "
							  />
							</div>
							<div class="col-md-6 mb-3">
							  <label for="validationCustom02"
								>Last name</label
							  >
							  <input
								type="text"
								name="lastName"
								class="form-control"
								id="validationCustom02"
								value="<%= data.lastName %>"
							  />
							</div>
							<div class="col-md-12 mb-3">
							  <label for="validationCustom02"
								>Password</label
							  >
							  <input
								type="text"
								name="password"
								class="form-control"
								id="validationCustom02"
			   placeholder="***********"
							  />
							</div>
							<div class="col-md-6 mb-3">
							  <label for="validationCustom03">DOB*</label>
							  <input
								type="date"
								class="form-control"
								name="dob"
								id="validationCustom03"
								value="<%= data.dob %>"
							  />
							</div>
							<div class="col-md-6 mb-3">
							  <label for="validationCustom04">Sex*</label>
							  <select
								name="gender"
								class="form-control"
								id="validationCustom04"
							  >
								<option value="male" selected>Male</option>
								<option value="female">Female</option>
							  </select>
							</div>
							<div class="col-md-12 mb-3">
							  <label for="validationCustom05"
								>Home Address*</label
							  >
							  <textarea
						  
								class="form-control"
								id="validationCustom05"
								name="address"
							  >
							  <%= data.address %></textarea
							  >
							  <!-- <div class="invalid-feedback">
																  Please provide a valid Address.
															  </div> -->
							</div>
							<div class="col-md-6 mb-3">
							  <label for="validationCustom06">Email*</label>
							  <input
								type="email"
								name="email"
								class="form-control"
								id="validationCustom06"
								value="<%= data.email %>"
							  />
							</div>
							<!-- <div class="col-md-6 mb-3">
															  <label for="validationCustom07">Confirm email*</label>
															  <input type="email" class="form-control" id="validationCustom07" value="john@gmail.com"/>
														  </div> -->
							<div class="col-md-6 mb-3">
							  <label for="validationCustom08"
								>Mobile number*</label
							  >
							  <div class="row">
								<div class="col-xl-3 col-4 pr-0">
								  <select
									name="countryCode"
									class="form-control"
									id="validationCustom08"
								  >
									<option value="91">+91</option>
									<option value="54" selected>+54</option>
								  </select>
								</div>
								<div class="col-xl-9 col-8">
								  <input
									type="number"
									name="phone"
									class="form-control"
									id="validationCustom08"
									value="<%= data.phone %>"
								  />
								</div>
							  </div>
							</div>
							<!-- <div class="col-md-6 mb-3">
															  <label for="validationCustom09">Mobile number*</label>
															  <div class="row">
																  <div class="col-xl-3 col-4 pr-0">
																	  <select class="form-control" id="validationCustom09">
																		  <option value="91">+91</option>
																		  <option value="54" selected>+54</option>
																	  </select>	
																  </div>
																  <div class="col-xl-9 col-8">
																	  <input type="email" class="form-control" id="validationCustom09" value="9652145852"/>																		
																  </div>
															  </div>
														  </div> -->
						  </div>
						  <button class="btn btn-primary mt-4" type="submit">
							Submit form
						  </button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="pt-3 pb-3">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<p class="m-0 text-white">
					2021 Black Burn Travel Clinic
				</p>
			</div>
		</div>
	</div>
</footer>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/loginCheck.js"></script>
<script src="/assets/js/font-awesome-5-pro.js"></script>
<script>
	function showEdit(type){
		let profile=document.getElementById('profile')
		let profileEdit=document.getElementById('editprofile')
		if(type==1){
			profileEdit.classList.remove('d-none')
			profile.classList.add('d-none')
			
}else{
	profile.classList.remove('d-none')
profileEdit.classList.add('d-none')
}
	}
</script>
</body>
</html>