<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Book Test | Covid -19 PCR Testing</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
        <link rel="icon" href="assets/images/favicon.png" type="image/png" sizes="16x16">

        <!-- bootstrape -->
        <link rel="stylesheet" href="assets/bootstrap-4/bootstrap.min.css">

        <!-- font-awesome -->
        <script src="assets/scripts/font-awesome-5-pro.js"></script>

        <!-- Font Family -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <!-- custom -->
        <link rel="stylesheet" href="assets/styles/slick.css">
        <link rel="stylesheet" href="assets/styles/aos.css">
        <link rel="stylesheet" href="assets/styles/main.css">
        <link rel="stylesheet" href="assets/styles/responsive.css">  
    </head>
    <body>

        <!-- .site-header -->
        <header class="site-header">
            <div class="top-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                            <div class="gov-uk">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/gov-uk1.png" alt="gov uk" class="mr-md-2 mr-2" />
                                    <p class="text-white mb-0">
                                        Listed on Government website / GOV.UK
                                    </p>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-xl-6 col-6 d-md-block d-none text-xl-center text-right">
                            <img src="assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent" />
                        </div>
                        <div class="col-xl-2 col-6 d-xl-block d-none text-lg-right">
                            <a href="tel:01254933033" class="text-white mb-0 location-phone">
                                <i class="fas fa-phone-alt"></i>
                                01254 933033
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-menu">
                <div class="container">
                    <nav class="navbar navbar-expand-xl navbar-light cp-navbar-light w-100 p-0">
                        <a class="navbar-brand cp-navbar-brand" href="/">
                            <img src="assets/images/site-logo.png" alt="site-logo" class="site-logo"/>
                        </a>
                        <button class="navbar-toggler cp-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon cp-navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse cp-navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mt-lg-0 mt-3 ml-auto cp-navbar-nav">
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/">                                        
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="about-us">
                                        About Us
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="javascript:void(0)">
                                        Your Test <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Preparing for the test
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                After your test
                                            </a>
                                        </li>
                                    </ul>
                                </li> 
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="javascript:void(0)">
                                        Vaccinations <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu" id='navbarpages'> </ul>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="#">
                                        Price
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="testimonials">
                                        Testimonials
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="faq">
                                        FAQs
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="contact-us">
                                        Contact us
                                    </a>
                                </li> 
                                <div id='booking-head'>
                                </div>
                            </ul>
                            <ul class="d-xl-none d-block text-center">
                                <li class="nav-item cp-nav-item">
                                    <a href="tel:01254933033" class="nav-link cp-nav-link location-phone">
                                        <i class="fas fa-phone-alt"></i>
                                        01254 933033
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="bottom-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6 class="text-white text-center mb-0">
                                Results by 11am the next day including weekends and Bank Holidays.  
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ./site-header -->

        <main>

            <!-- .book-test-sec -->
            <section class="book-test-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center" data-aos="zoom-in-up">
                            <span class="sub-title">
                                Book your COVID-19 Test
                            </span>
                            <h2>
                                <span class="text-skyblue">
                                    Choosing Your
                                </span>
                                COVID-19 Test
                            </h2>
                        </div>


                        <!-- Tabbing -->
                        <div >
                            <div class="tabbing">
                                <div class="nav nav-pills row d-md-flex d-block mb-4" data-aos="zoom-in-up">	
                                    <% tests.map((test,index)=>{%>						
                                    <div class="nav-item ">
                                        <div class="nav-link tab-boxes text-center " data-toggle="pill" href="#tab<%=index%>">
                                            <img src="assets/images/fly.png" alt="fly" class="mb-4" />
                                            <h6>
                                                <%=test.test_name%>
                                            </h6>
                                            <h6>
                                                <%=test.sub_heading%>
                                            </h6>
                                            <div class="small-desc">
                                                <p>
                                                    <%=test.short_description%>

                                                </p>
                                            </div>
                                            <a href="#tab<%=index%>" onclick="selectTest('<%=test._id%>','<%=index%>')"
                                                 class="btn-skyblue-border select-btn d-inline-block mt-3">                                            
                                                <span>Select</span>
                                                <i class="fas fa-check-circle"></i>
                                            </a>
                                        </div>
                                    </div>						
                                    <% })%>	
                                
                                </div>


                                <div class="tab-content mt-4">

                                    <div class="tab-pane test-div container active p-0" id="tab1" data-aos="zoom-in-up">
                                     
                                    </div>




                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </section>
            <!-- ./book-test-sec -->

        </main>


        <!-- .site-footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row align-items-center top-footer">
                    <div class="col-lg-3 col-md-3">
                        <div class="footer-logo mb-md-0 mb-3">
                            <a href="/">
                                <img src="assets/images/site-logo.png" alt="site-logo" class="site-logo"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <a href="/" class="mb-md-0 mb-3 d-block">
                            <img src="assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent-logo" class="site-logo"/>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <p class="text-white mb-0">
                            Blackburn Travel Clinic – 
                            <span class="text-green">Rated EXCELLENT</span>
                        </p>
                    </div>
                </div>
                <div class="row footer-menus mt-4">
                    <div class="col-lg-3">
                        <h6 class="text-white">
                            Contact Us
                        </h6>
                        <ul class="contact-info mt-3 mb-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                    6 Preston Old Road, Blackburn, Lancashire, BB2 2SS
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="tel:01254933033" class="d-inline-block">
                                    <i class="fas fa-phone-alt"></i>
                                    01254 933033
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="mailto:youremail@gmail.com" class="d-inline-block">
                                    <i class="fas fa-envelope"></i>
                                    youremail@gmail.com
                                </a>
                            </li>
                        </ul>
                        <ul class="social-icons mb-4">
                            <li class="d-inline-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Quick Links
                        </h6>
                        <ul class="menus mt-3 mb-3">
                            <li class="d-block">
                                <a href="about-us" class="d-inline-block">
                                    About Us
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Preparing for your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    After your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="testimonials" class="d-inline-block">
                                    Testimonials
                                </a>
                            </li>
                            <liclass="d-block">
                                <a href="faq" class="d-inline-block">
                                    FAQs
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="contact-us" class="d-inline-block">
                                    Contact us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Tests Links
                        </h6>
                        <ul class="menus mt-3 mb-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    PCR Test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Rapid Test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    After your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Your Test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Covid Test
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Useful Links
                        </h6>
                        <ul class="menus mt-3 mb-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    What we offer
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Prices
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Book Online
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <h6 class="text-white">
                            Support
                        </h6>
                        <ul class="menus mt-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Terms & Conditions 
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Sitemap
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Get Support
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <div class="copyright">
                            <p class="text-white mb-0">
                                Copyright © 2021, Blackburn Travel Clinic
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ./site-footer -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- custom js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      
        <script src="assets/scripts/jquery.min.js"></script>
        <script src="assets/scripts/popper.min.js"></script>
        <script src="assets/bootstrap-4/bootstrap.min.js"></script>
        <script src="assets/scripts/slick.js"></script>
        <script src="assets/scripts/jquery.matchHeight-min.js"></script>
        <script src="assets/scripts/aos.js"></script>
       <script src="assets/js/main.js"></script>
      

        <script>
			AOS.init({
				duration: 1200,
			});
		</script>

    </body>
</html>